.Board {
  fill: darkslategray;
  stroke: lightgray;
}

.Piece {
  fill: lightgray;
  stroke: darkgray;
}

.PieceText {
  fill: black;
  font: bold 50px sans-serif;
}

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
