.Board {
  fill: darkslategray;
  stroke: lightgray;
}

.Down {
  transform: translate(0, 100px);
  transition: all 100ms linear;
}

.Up {
  transform: translate(0, -100px);
  transition: all 100ms linear;
}

.Right {
  transform: translate(100px, 0);
  transition: all 100ms linear;
}

.Left {
  transform: translate(-100px, 0);
  transition: all 100ms linear;
}

.Tile {
  fill: lightgray;
  stroke: darkgray;
}

.Solved rect {
  animation: change-color 1000ms ease 2;
}

@keyframes change-color {
  0% {
    fill: lightgray;
  }
  50% {
    fill: white;
  }
  100% {
    fill: lightgray;
  }
}

.Clickable rect:hover {
  fill: rgb(228, 228, 228);
}

.TileText {
  fill: black;
  font: bold 50px sans-serif;
  pointer-events: none;
}

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
