.Board {
  width: 40vh;
  max-width: 95vw;
}

.Frame {
  fill: darkslategray;
  stroke: turquoise;
}

.Tile {
  fill: lemonchiffon;
  stroke: lightgray;
  transition-duration: 400ms;
}

.Solved rect {
  animation: change-color 1000ms ease-out;
}

@keyframes change-color {
  0% {
    fill: white;
  }
  50% {
    fill: white;
  }
  100% {
    fill: lemonchiffon;
  }
}

.Clickable rect:hover {
  fill: white;
}

.TileText {
  fill: black;
  font: bold 50px sans-serif;
  pointer-events: none;
}

svg text {
  cursor: default;
  user-select: none;
}

.Down {
  animation: move-down 100ms ease;
}

@keyframes move-down {
  0% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.Up {
  animation: move-up 100ms ease;
}

@keyframes move-up {
  0% {
    transform: translate(0, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.Right {
  animation: move-right 100ms ease;
}

@keyframes move-right {
  0% {
    transform: translate(-100px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.Left {
  animation: move-left 100ms ease;
}

@keyframes move-left {
  0% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
